doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class= "main-wrapper")
      header
        h1 Anime Catalog Inventory
      main(class= "main")
        aside(class = "sidebar") 
          h2 sidebar
          ul(class = "sidebar-nav")
            li 
              a(href = '/catalog', tabindex= '0') Home
            li 
              a(href = '/catalog/category') Categories
            li 
              a(href = '/catalog/Anime') Anime List
            li 
              a(href = '/catalog/category/create') Create new Category 
            li 
              a(href = '/catalog/anime/create') Create new Anime 
            

        block content
